# data_feature_engineering2

2017-05-28

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime,timedelta,date,time
import copy

### 录入数据

In [6]:
travel_time_window = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/特征工程2/时间窗数据/training_20min_avg_travel_time.csv')
volume_window = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/特征工程2/时间窗数据/training_20min_avg_volume.csv')
link_info = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/特征工程2/时间窗数据/training_link_info.csv')
volume_info = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/特征工程2/时间窗数据/training_volume_info.csv')
weather_data = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/dataSets/dataSets/training/weather (table 7)_training_update.csv')

test_travel_time_window = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/特征工程2/时间窗数据/test1_20min_avg_travel_time.csv')
test_volume_window = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/特征工程2/时间窗数据/test1_20min_avg_volume.csv')
test_link_info = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/特征工程2/时间窗数据/test1_link_info.csv')
test_volume_info = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/特征工程2/时间窗数据/test1_volume_info.csv')
test_weather_data = pd.read_csv('/home/godcedric/GitLocal/KDDCUP2017/dataSets/dataSets/testing_phase1/weather (table 7)_test1.csv')

### 10.10号的天气值补充

In [10]:
# 10.10号的用10.09和10.11的平均
date9_weather_data = weather_data[weather_data['date'] == '2016-10-09']
date11_weather_data = weather_data[weather_data['date'] == '2016-10-11']

date10_weather_data = date11_weather_data.copy()
date10_weather_data['date'] = '2016-10-10'
date10_weather_data['pressure'] = (date9_weather_data['pressure'].values + date11_weather_data['pressure'].values) / 2
date10_weather_data['sea_pressure'] = (date9_weather_data['sea_pressure'].values + date11_weather_data['sea_pressure'].values) / 2
date10_weather_data['wind_direction'] = (date9_weather_data['wind_direction'].values + date11_weather_data['wind_direction'].values) / 2
date10_weather_data['wind_speed'] = (date9_weather_data['wind_speed'].values + date11_weather_data['wind_speed'].values) / 2
date10_weather_data['temperature'] = (date9_weather_data['temperature'].values + date11_weather_data['temperature'].values) / 2
date10_weather_data['rel_humidity'] = (date9_weather_data['rel_humidity'].values + date11_weather_data['rel_humidity'].values) / 2
date10_weather_data['precipitation'] = (date9_weather_data['precipitation'].values + date11_weather_data['precipitation'].values) / 2

weather_data = pd.concat([weather_data, date10_weather_data], axis=0)

weather_data.index = np.arange(len(weather_data))

In [19]:
full_time = pd.read_csv('full_time.csv')

In [23]:
travel_time_window.columns

Index(['intersection_id', 'tollgate_id', 'time_window', 'avg_travel_time',
       'mid_time', 'start_time', 'hour'],
      dtype='object')

In [24]:
full_time.columns

Index(['intersection_id', 'tollgate_id', 'time_window'], dtype='object')

In [21]:
temp = pd.merge(full_time, travel_time_window, on=['intersection_id','tollgate_id','time_window'], how='left')

In [22]:
temp

,intersection_id,tollgate_id,time_window,avg_travel_time,mid_time,start_time,hour
0,A,2,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",NaN,NaN,NaT,NaN
1,A,3,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",NaN,NaN,NaT,NaN
2,B,1,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",NaN,NaN,NaT,NaN
3,B,3,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",NaN,NaN,NaT,NaN
4,C,1,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",NaN,NaN,NaT,NaN
5,C,3,"[2016-07-19 00:00:00,2016-07-19 00:20:00)",NaN,NaN,NaT,NaN
6,A,2,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",NaN,NaN,NaT,NaN
7,A,3,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",NaN,NaN,NaT,NaN
8,B,1,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",NaN,NaN,NaT,NaN
9,B,3,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",NaN,NaN,NaT,NaN
10,C,1,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",NaN,NaN,NaT,NaN
11,C,3,"[2016-07-19 00:20:00,2016-07-19 00:40:00)",NaN,NaN,NaT,NaN
12,A,2,"[2016-07-19 00:40:00,2016-07-19 01:00:00)",NaN,NaN,NaT,NaN
13,A,3,"[2016-07-19 00:40:00,2016-07-19 01:00:00)",NaN,NaN,NaT,NaN
14,B,1,"[2016-07-19 00:40:00,2016-07-19 01:00:00)",NaN,NaN,NaT,NaN
15,B,3,"[2016-07-19 00:40:00,2016-07-19 01:00:00)",NaN,NaN,NaT,NaN
16,C,1,"[2016-07-19 00:40:00,2016-07-19 01:00:00)",NaN,NaN,NaT,NaN
17,C,3,"[2016-07-19 00:40:00,2016-07-19 01:00:00)",NaN,NaN,NaT,NaN
18,A,2,"[2016-07-19 01:00:00,2016-07-19 01:20:00)",NaN,NaN,NaT,NaN
19,A,3,"[2016-07-19 01:00:00,2016-07-19 01:20:00)",NaN,NaN,NaT,NaN
20,B,1,"[2016-07-19 01:00:00,2016-07-19 01:20:00)",NaN,NaN,NaT,NaN
21,B,3,"[2016-07-19 01:00:00,2016-07-19 01:20:00)",NaN,NaN,NaT,NaN
22,C,1,"[2016-07-19 01:00:00,2016-07-19 01:20:00)",NaN,NaN,NaT,NaN
23,C,3,"[2016-07-19 01:00:00,2016-07-19 01:20:00)",NaN,NaN,NaT,NaN
24,A,2,"[2016-07-19 01:20:00,2016-07-19 01:40:00)",NaN,NaN,NaT,NaN
25,A,3,"[2016-07-19 01:20:00,2016-07-19 01:40:00)",NaN,NaN,NaT,NaN
26,B,1,"[2016-07-19 01:20:00,2016-07-19 01:40:00)",NaN,NaN,NaT,NaN
27,B,3,"[2016-07-19 01:20:00,2016-07-19 01:40:00)",NaN,NaN,NaT,NaN
28,C,1,"[2016-07-19 01:20:00,2016-07-19 01:40:00)",NaN,NaN,NaT,NaN
29,C,3,"[2016-07-19 01:20:00,2016-07-19 01:40:00)",NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...
39282,A,2,"[2016-10-17 22:20:00,2016-10-17 22:40:00)",NaN,NaN,NaT,NaN
39283,A,3,"[2016-10-17 22:20:00,2016-10-17 22:40:00)",NaN,NaN,NaT,NaN
39284,B,1,"[2016-10-17 22:20:00,2016-10-17 22:40:00)",NaN,NaN,NaT,NaN
39285,B,3,"[2016-10-17 22:20:00,2016-10-17 22:40:00)",NaN,NaN,NaT,NaN
39286,C,1,"[2016-10-17 22:20:00,2016-10-17 22:40:00)",NaN,NaN,NaT,NaN
39287,C,3,"[2016-10-17 22:20:00,2016-10-17 22:40:00)",NaN,NaN,NaT,NaN
39288,A,2,"[2016-10-17 22:40:00,2016-10-17 23:00:00)",NaN,NaN,NaT,NaN
39289,A,3,"[2016-10-17 22:40:00,2016-10-17 23:00:00)",NaN,NaN,NaT,NaN
39290,B,1,"[2016-10-17 22:40:00,2016-10-17 23:00:00)",NaN,NaN,NaT,NaN
39291,B,3,"[2016-10-17 22:40:00,2016-10-17 23:00:00)",NaN,NaN,NaT,NaN
39292,C,1,"[2016-10-17 22:40:00,2016-10-17 23:00:00)",NaN,NaN,NaT,NaN
39293,C,3,"[2016-10-17 22:40:00,2016-10-17 23:00:00)",NaN,NaN,NaT,NaN
39294,A,2,"[2016-10-17 23:00:00,2016-10-17 23:20:00)",NaN,NaN,NaT,NaN
39295,A,3,"[2016-10-17 23:00:00,2016-10-17 23:20:00)",NaN,NaN,NaT,NaN
39296,B,1,"[2016-10-17 23:00:00,2016-10-17 23:20:00)",NaN,NaN,NaT,NaN
39297,B,3,"[2016-10-17 23:00:00,2016-10-17 23:20:00)",NaN,NaN,NaT,NaN
39298,C,1,"[2016-10-17 23:00:00,2016-10-17 23:20:00)",NaN,NaN,NaT,NaN
39299,C,3,"[2016-10-17 23:00:00,2016-10-17 23:20:00)",NaN,NaN,NaT,NaN
39300,A,2,"[2016-10-17 23:20:00,2016-10-17 23:40:00)",NaN,NaN,NaT,NaN
39301,A,3,"[2016-10-17 23:20:00,2016-10-17 23:40:00)",NaN,NaN,NaT,NaN
39302,B,1,"[2016-10-17 23:20:00,2016-10-17 23:40:00)",NaN,NaN,NaT,NaN
39303,B,3,"[2016-10-17 23:20:00,2016-10-17 23:40:00)",NaN,NaN,NaT,NaN
39304,C,1,"[2016-10-17 23:20:00,2016-10-17 23:40:00)",NaN,NaN,NaT,NaN
39305,C,3,"[2016-10-17 23:20:00,2016-10-17 23:40:00)",NaN,NaN,NaT,NaN
39306,A,2,"[2016-10-17 23:40:00,2016-10-18 00:00:00)",NaN,NaN,NaT,NaN
39307,A,3,"[2016-10-17 23:40:00,2016-10-18 00:00:00)",NaN,NaN,NaT,NaN
39308,B,1,"[2016-10-17 23:40:00,2016-10-18 00:00:00)",NaN,NaN,NaT,NaN
39309,B,3,"[2016-10-17 23:40:00,2016-10-18 00:00:00)",NaN,NaN,NaT,NaN
39310,C,1,"[2016-10-17 23:40:00,2016-10-18 00:00:00)",NaN,NaN,NaT,NaN
39311,C,3,"[2016-10-17 23:40:00,2016-10-18 00:00:00)",NaN,NaN,NaT,NaN

### 全时段补充

In [ ]:
# 训练集缺失值补充，保证每一个时间段都有数据
full_time = pd.read_csv('full_time.csv')
full_time = full_time.sort(['intersection_id','tollgate_id'])
travel_time_window = pd.merge(full_time, travel_time_window, on=['intersection_id','tollgate_id','time_window'], how='left')
ffill = lambda g:g.fillna(method='ffill')
bfill = lambda g:g.fillna(method='bfill')

travel_time_window['avg_travel_time'] = travel_time_window.groupby(['intersection_id','tollgate_id'])['avg_travel_time'].apply(ffill)
travel_time_window['avg_travel_time'] = travel_time_window.groupby(['intersection_id','tollgate_id'])['avg_travel_time'].apply(bfill)

full_time2 = pd.read_csv('full_time2.csv')
full_time2 = full_time2.sort(['tollgate_id','direction'])
raw_data2 = pd.merge(full_time2, volume_window, on=['tollgate_id','time_window','direction'], how='left')
raw_data2['volume'] = raw_data2.groupby(['tollgate_id','direction'])['volume'].apply(ffill)
raw_data2['volume'] = raw_data2.groupby(['tollgate_id','direction'])['volume'].apply(bfill)

### 只留6,7,8,9,15,16,17,18点的数据

In [13]:
travel_time_window['start_time'] = travel_time_window['time_window'].map(lambda x: datetime.strptime(x.split(',')[0][1:], '%Y-%m-%d %H:%M:%S'))
volume_window['start_time'] = volume_window['time_window'].map(lambda x: datetime.strptime(x.split(',')[0][1:], '%Y-%m-%d %H:%M:%S'))
link_info['start_time'] = link_info['time_window'].map(lambda x: datetime.strptime(x.split(',')[0][1:], '%Y-%m-%d %H:%M:%S'))
volume_info['start_time'] = volume_info['time_window'].map(lambda x: datetime.strptime(x.split(',')[0][1:], '%Y-%m-%d %H:%M:%S'))

test_travel_time_window['start_time'] = test_travel_time_window['time_window'].map(lambda x: datetime.strptime(x.split(',')[0][1:], '%Y-%m-%d %H:%M:%S'))
test_volume_window['start_time'] = test_volume_window['time_window'].map(lambda x: datetime.strptime(x.split(',')[0][1:], '%Y-%m-%d %H:%M:%S'))
test_link_info['start_time'] = test_link_info['time_window'].map(lambda x: datetime.strptime(x.split(',')[0][1:], '%Y-%m-%d %H:%M:%S'))
test_volume_info['start_time'] = test_volume_info['time_window'].map(lambda x: datetime.strptime(x.split(',')[0][1:], '%Y-%m-%d %H:%M:%S'))

travel_time_window['hour'] = travel_time_window['start_time'].map(lambda x: x.hour)
volume_window['hour'] = volume_window['start_time'].map(lambda x: x.hour)
link_info['hour'] = link_info['start_time'].map(lambda x: x.hour)
volume_info['hour'] = volume_info['start_time'].map(lambda x: x.hour)

test_travel_time_window['hour'] = test_travel_time_window['start_time'].map(lambda x: x.hour)
test_volume_window['hour'] = test_volume_window['start_time'].map(lambda x: x.hour)
test_link_info['hour'] = test_link_info['start_time'].map(lambda x: x.hour)
test_volume_info['hour'] = test_volume_info['start_time'].map(lambda x: x.hour)

def map_hour(hour_col):
    return (hour_col==6) | (hour_col==7) | (hour_col==8) | (hour_col==9) | (hour_col==15) | (hour_col==16) | (hour_col==17) | (hour_col==18)

travel_time_window = travel_time_window[map_hour(travel_time_window['hour'])]
volume_window = volume_window[map_hour(volume_window['hour'])]
link_info = link_info[map_hour(link_info['hour'])]
volume_info = volume_info[map_hour(volume_info['hour'])]

test_travel_time_window = test_travel_time_window[map_hour(test_travel_time_window['hour'])]
test_volume_window = test_volume_window[map_hour(test_volume_window['hour'])]
test_link_info = test_link_info[map_hour(test_link_info['hour'])]
test_volume_info = test_volume_info[map_hour(test_volume_info['hour'])]

### 整合形成样本

In [16]:
travel_time_window

,intersection_id,tollgate_id,time_window,avg_travel_time,mid_time,start_time,hour
10,B,3,"[2016-07-19 06:00:00,2016-07-19 06:20:00)",145.94,145.940,2016-07-19 06:00:00,6
11,B,3,"[2016-07-19 06:20:00,2016-07-19 06:40:00)",127.35,127.350,2016-07-19 06:20:00,6
12,B,3,"[2016-07-19 06:40:00,2016-07-19 07:00:00)",97.20,97.200,2016-07-19 06:40:00,6
13,B,3,"[2016-07-19 07:00:00,2016-07-19 07:20:00)",118.43,141.090,2016-07-19 07:00:00,7
14,B,3,"[2016-07-19 07:20:00,2016-07-19 07:40:00)",82.63,82.630,2016-07-19 07:20:00,7
15,B,3,"[2016-07-19 07:40:00,2016-07-19 08:00:00)",110.50,110.500,2016-07-19 07:40:00,7
16,B,3,"[2016-07-19 08:00:00,2016-07-19 08:20:00)",125.76,129.590,2016-07-19 08:00:00,8
17,B,3,"[2016-07-19 08:20:00,2016-07-19 08:40:00)",141.33,153.940,2016-07-19 08:20:00,8
18,B,3,"[2016-07-19 08:40:00,2016-07-19 09:00:00)",176.08,113.660,2016-07-19 08:40:00,8
19,B,3,"[2016-07-19 09:00:00,2016-07-19 09:20:00)",165.29,183.730,2016-07-19 09:00:00,9
20,B,3,"[2016-07-19 09:20:00,2016-07-19 09:40:00)",78.13,94.000,2016-07-19 09:20:00,9
21,B,3,"[2016-07-19 09:40:00,2016-07-19 10:00:00)",117.83,134.445,2016-07-19 09:40:00,9
37,B,3,"[2016-07-19 15:00:00,2016-07-19 15:20:00)",115.29,98.330,2016-07-19 15:00:00,15
38,B,3,"[2016-07-19 15:20:00,2016-07-19 15:40:00)",129.47,132.955,2016-07-19 15:20:00,15
39,B,3,"[2016-07-19 15:40:00,2016-07-19 16:00:00)",120.76,114.605,2016-07-19 15:40:00,15
40,B,3,"[2016-07-19 16:00:00,2016-07-19 16:20:00)",116.07,120.685,2016-07-19 16:00:00,16
41,B,3,"[2016-07-19 16:20:00,2016-07-19 16:40:00)",152.50,159.515,2016-07-19 16:20:00,16
42,B,3,"[2016-07-19 16:40:00,2016-07-19 17:00:00)",101.66,103.470,2016-07-19 16:40:00,16
43,B,3,"[2016-07-19 17:00:00,2016-07-19 17:20:00)",139.36,161.025,2016-07-19 17:00:00,17
44,B,3,"[2016-07-19 17:20:00,2016-07-19 17:40:00)",103.67,107.225,2016-07-19 17:20:00,17
45,B,3,"[2016-07-19 17:40:00,2016-07-19 18:00:00)",109.30,109.300,2016-07-19 17:40:00,17
46,B,3,"[2016-07-19 18:00:00,2016-07-19 18:20:00)",108.30,108.300,2016-07-19 18:00:00,18
47,B,3,"[2016-07-19 18:20:00,2016-07-19 18:40:00)",91.94,91.935,2016-07-19 18:20:00,18
48,B,3,"[2016-07-19 18:40:00,2016-07-19 19:00:00)",106.92,97.410,2016-07-19 18:40:00,18
69,B,3,"[2016-07-20 06:00:00,2016-07-20 06:20:00)",112.36,112.355,2016-07-20 06:00:00,6
70,B,3,"[2016-07-20 06:20:00,2016-07-20 06:40:00)",386.44,386.440,2016-07-20 06:20:00,6
71,B,3,"[2016-07-20 06:40:00,2016-07-20 07:00:00)",130.59,125.510,2016-07-20 06:40:00,6
72,B,3,"[2016-07-20 07:00:00,2016-07-20 07:20:00)",122.35,122.350,2016-07-20 07:00:00,7
73,B,3,"[2016-07-20 07:20:00,2016-07-20 07:40:00)",115.89,116.520,2016-07-20 07:20:00,7
74,B,3,"[2016-07-20 07:40:00,2016-07-20 08:00:00)",137.98,159.420,2016-07-20 07:40:00,7
...,...,...,...,...,...,...,...
25064,C,1,"[2016-10-16 09:40:00,2016-10-16 10:00:00)",165.23,163.740,2016-10-16 09:40:00,9
25080,C,1,"[2016-10-16 15:00:00,2016-10-16 15:20:00)",236.18,236.180,2016-10-16 15:00:00,15
25081,C,1,"[2016-10-16 15:20:00,2016-10-16 15:40:00)",234.90,240.995,2016-10-16 15:20:00,15
25082,C,1,"[2016-10-16 15:40:00,2016-10-16 16:00:00)",210.66,212.990,2016-10-16 15:40:00,15
25083,C,1,"[2016-10-16 16:00:00,2016-10-16 16:20:00)",264.98,264.980,2016-10-16 16:00:00,16
25084,C,1,"[2016-10-16 16:20:00,2016-10-16 16:40:00)",308.91,311.060,2016-10-16 16:20:00,16
25085,C,1,"[2016-10-16 16:40:00,2016-10-16 17:00:00)",162.15,178.550,2016-10-16 16:40:00,16
25086,C,1,"[2016-10-16 17:00:00,2016-10-16 17:20:00)",174.58,171.015,2016-10-16 17:00:00,17
25087,C,1,"[2016-10-16 17:20:00,2016-10-16 17:40:00)",226.31,226.310,2016-10-16 17:20:00,17
25088,C,1,"[2016-10-16 17:40:00,2016-10-16 18:00:00)",180.95,185.070,2016-10-16 17:40:00,17
25089,C,1,"[2016-10-16 18:00:00,2016-10-16 18:20:00)",241.96,219.450,2016-10-16 18:00:00,18
25090,C,1,"[2016-10-16 18:20:00,2016-10-16 18:40:00)",291.40,292.200,2016-10-16 18:20:00,18
25105,C,1,"[2016-10-17 06:00:00,2016-10-17 06:20:00)",196.30,196.300,2016-10-17 06:00:00,6
25106,C,1,"[2016-10-17 06:40:00,2016-10-17 07:00:00)",200.12,185.790,2016-10-17 06:40:00,6
25107,C,1,"[2016-10-17 07:20:00,2016-10-17 07:40:00)",224.46,224.460,2016-10-17 07:20:00,7
25108,C,1,"[2016-10-17 07:40:00,2016-10-17 08:00:00)",168.88,148.810,2016-10-17 07:40:00,7
25109,C,1,"[2016-10-17 08:00:00,2016-10-17 08:20:00)",165.10,174.305,2016-10-17 08:00:00,8
25110,C,1,"[2016-10-17 08:40:00,2016-10-17 09:00:00)",149.22,140.040,2016-10-17 08:40:00,8
25111,C,1,"[2016-10-17 09:00:00,2016-10-17 09:20:00)",167.23,148.610,2016-10-17 09:00:00,9
25112,C,1,"[2016-10-17 09:20:00,2016-10-17 09:40:00)",136.53,132.030,2016-10-17 09:20:00,9
25113,C,1,"[2016-10-17 09:40:00,2016-10-17 10:00:00)",265.43,238.940,2016-10-17 09:40:00,9
25129,C,1,"[2016-10-17 15:00:00,2016-10-17 15:20:00)",143.98,148.495,2016-10-17 15:00:00,15
25130,C,1,"[2016-10-17 15:20:00,2016-10-17 15:40:00)",134.58,136.880,2016-10-17 15:20:00,15
25131,C,1,"[2016-10-17 15:40:00,2016-10-17 16:00:00)",483.07,237.940,2016-10-17 15:40:00,15
25132,C,1,"[2016-10-17 16:00:00,2016-10-17 16:20:00)",180.28,154.390,2016-10-17 16:00:00,16
25133,C,1,"[2016-10-17 16:20:00,2016-10-17 16:40:00)",150.44,155.430,2016-10-17 16:20:00,16
25134,C,1,"[2016-10-17 16:40:00,2016-10-17 17:00:00)",151.94,143.920,2016-10-17 16:40:00,16
25135,C,1,"[2016-10-17 17:00:00,2016-10-17 17:20:00)",159.01,159.010,2016-10-17 17:00:00,17
25136,C,1,"[2016-10-17 17:20:00,2016-10-17 17:40:00)",170.13,170.135,2016-10-17 17:20:00,17
25137,C,1,"[2016-10-17 18:00:00,2016-10-17 18:20:00)",267.11,267.105,2016-10-17 18:00:00,18